<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias alias="UUID" type="java.util.UUID"/>
        <typeAlias alias="UUIDTypeHandler" type="com.lm.shopping.common.persistence.UUIDTypeHandler"/>

        <package name="com.lm.shopping.persistence.model"/>
    </typeAliases>

    <typeHandlers>
        <package name="com.lm.shopping.common.persistence" />
    </typeHandlers>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.h2.Driver"/>
                <property name="url" value="jdbc:h2:~/lm_shopping"/>
                <property name="username" value=""/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/mapper-item.xml"/>
    </mappers>

</configuration>